@page "/Frivillige"
@using hackerbooking.Shared;
@inject HttpClient Http

<PageTitle>Frivillige</PageTitle>

<h1>Liste Over Frivillige</h1>

<!--Check om der er noget data-->
<!--Hvis der er data vis det-->
@if (frivillige == null)
{
    <p>Loading...</p>
}

else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Kompetence</th>
                <th>Koordinator</th>
            </tr>
        </thead>
        <tbody>
            <!--Foreach med liste over frivillige-->
            @foreach (var item in frivillige)
            {
                <tr>
                    <td>@item.navn</td>
                    <td>@item.efternavn</td>
                    <td>@item.email</td>
                    <td>@item.kompetence</td>
                    <td>@item.koordinator</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    FrivilligeDTO[] frivillige;

    protected override async Task OnInitializedAsync()
    {
        // Hent Frivillige
        frivillige = await Http.GetFromJsonAsync<FrivilligeDTO[]>("api/Frivillige");
    }
}
