@page "/"
@using hackerbooking.Shared;
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Login</h1>

<label>Email: </label>
<br />
<input type="email" @bind-value="Email"/>
<br />
<br />
<label>Password: </label>
<br />
<input type="password" @bind-value="Password"/>
<br />
<br />
<button class="btn btn-sm btn-primary" @onclick="@(()=>FrivilligLogin())">Login</button>


             @if (frivillige != null)
            {
<p>Du er logget ind med denne bruger</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Telefon</th>
                <th>Navn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Kompetence</th>
                <th>Frivillig Id</th>
                <th>Fødselsdag</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in frivillige)
               {
                <tr>
                    <td>@item.telefon_nummer</td>
                    <td>@item.navn</td>
                    <td>@item.efternavn</td>
                    <td>@item.email</td>
                    <td>@item.kompetence</td>
                    <td>@item.frivillig_id</td>
                    <td>@item.fødselsdag</td>
                </tr>
               }
                
            
        </tbody>
    </table>
            }

@code {
    private FrivilligeDTO[] frivillige;

    private string Email;
    private string Password;

    private async Task FrivilligLogin()
    {
        frivillige = await Http.GetFromJsonAsync<FrivilligeDTO[]>($"Login/Email{Email}Password{Password}");
    }

}
