@page "/OpretVagt"
@using hackerbooking.Shared;
@inject HttpClient Http

@if (opgaver == null)
{
    <p><em>Loading...</em></p>
}


else
{
    <span>
        Opgave:
        @foreach (var item in opgaver)
        {
            <br>
            <input type="radio" id="@item.opgave_navn" name="opgaver" value=@item.opgave_navn @onchange="@(() => UpdateOpgave(@item.opgave_navn))">
            <label for="html">@item.opgave_navn</label>
            <button @onclick="@(() => DeleteOpgave(@item.opgave_id))">Slet</button>
        }
        <br>
        <label>Opret Ny Opgave</label>
        <input @bind-value="opgave.opgave_navn" placeholder="string" />
        <button class="btn btn-sm btn-primary" @onclick="@(()=>NyOpgave())">Opret Opgave</button>
    </span>
    <br />
    <span>Start Tidspunkt: </span>
    <input type="datetime-local" @bind-value="vagt.dato_tid_start" placeholder="DateTime" />
    <br />
    <span>Slut Tidspunkt: </span>
    <input type="datetime-local" @bind-value="vagt.dato_tid_slut" placeholder="DateTime" />
    <button class="btn btn-sm btn-primary" @onclick="@(()=>postVagt(@vagt))">POST</button>
    <p>Liste over entries</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Opgave</th>
                <th>Start</th>
                <th>Slut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in vagter)
            {
                <tr>
                    <td>@item.opgave_navn</td>
                    <td>@item.dato_tid_start</td>
                    <td>@item.dato_tid_slut</td>
                    <td>
                        <button class="btn btn-sm btn-primary" @onclick="@(()=>Toggle(@item.vagt_id))">Show/Hide</button>
                        <button class="btn btn-sm btn-primary" @onclick="@(()=>DeleteVagt(@item.vagt_id))">DELETE</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div hidden="@HideLabel">
        <span>
            Opgave:
            @foreach (var item in opgaver)
            {
                <br>
                <input type="radio" id="@item.opgave_navn" name="editOpgaver" value=@item.opgave_navn @onchange="@(() => UpdateEditOpgave(@item.opgave_navn))">
                <label for="html">@item.opgave_navn</label>
            }

        </span>
        <span>Start Tidspunkt: </span>
        <input type="datetime-local" @bind-value="@vagt.dato_tid_start" placeholder="DateTime" />
        <br />
        <span>Slut Tidspunkt: </span>
        <input type="datetime-local" @bind-value="@vagt.dato_tid_slut" placeholder="DateTime" />
        <button class="btn btn-sm btn-primary" @onclick="@(()=>putVagt())">EDIT</button>
    </div>
}

@code {
    private VagterDTO[] vagter;
    private OpgaverDTO[] opgaver;

    private VagterDTO vagt = new();
    private OpgaverDTO opgave = new();

    private string tempOpgave;
    private string tempEditOpgave;
    private int tempId;

    protected override async Task OnInitializedAsync()
    {
        vagter = await Http.GetFromJsonAsync<VagterDTO[]>("api/Vagt");
        opgaver = await Http.GetFromJsonAsync<OpgaverDTO[]>("api/Opgaver");
    }
    private async Task DeleteVagt(int id)
    {
        await Http.DeleteAsync($"api/Vagt/{id}");
        await OnInitializedAsync();
    }

    private async Task postVagt(VagterDTO vagt)
    {
        var nyVagt = vagt;
        nyVagt.opgave_navn = tempOpgave;
        await Http.PostAsJsonAsync<VagterDTO>("api/Vagt", nyVagt);
        await OnInitializedAsync();
    }
    private async Task putVagt()
    {
        var nyEditVagt = vagt;
        nyEditVagt.opgave_navn = tempEditOpgave;
        nyEditVagt.vagt_id = tempId;
        await Http.PutAsJsonAsync<VagterDTO>($"api/Vagt/{nyEditVagt.vagt_id}", nyEditVagt);
        await OnInitializedAsync();
    }

    private void UpdateOpgave(string input)
    {
        tempOpgave = input;
    }

    private void UpdateEditOpgave(string input)
    {
        tempEditOpgave = input;
    }

    private async Task NyOpgave()
    {
        await Http.PostAsJsonAsync<OpgaverDTO>("api/nyOpgave", opgave);
        await OnInitializedAsync();
    }

    private async Task DeleteOpgave(int id)
    {
        await Http.DeleteAsync($"api/Opgave/{id}");
        await OnInitializedAsync();
    }
    private bool HideLabel { get; set; } = true;

    private void Toggle(int id)
    {
        tempId = id;
        HideLabel = !HideLabel;
    }
}