@page "/Vagter"
@using hackerbooking.Shared;
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Vagter</PageTitle>

<h1>Tilgængelige Vagter</h1>

@if (vagter == null)
{
    <p><em>Loading...</em></p>
}


else
{
    <h3>Du har Id: @frivillig.frivillig_id</h3>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Opgave</th>
                <th>Start</th>
                <th>Slut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in vagter)
            {
                // kun vis de vagter der ikke har nogen frivillige på
                if (item.frivillig_id == 0)
                {
                <tr>
                    <td>@item.opgave_navn</td>
                    <td>@item.dato_tid_start</td>
                    <td>@item.dato_tid_slut</td>
                    <td>
                        <button class="btn btn-sm btn-primary" @onclick="@(()=>TagVagt(@item.vagt_id))">Tag Vagt</button>
                    </td>
                </tr>    
                }
            }
        </tbody>
    </table>
<h1>Dine Vagter</h1>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Opgave</th>
                <th>Start</th>
                <th>Slut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in vagter)
            {
                // kun vis de vagter der matcher dit id (Dem du har taget)
                if (item.frivillig_id == frivillig.frivillig_id)
                {
                <tr>
                    <td>@item.opgave_navn</td>
                    <td>@item.dato_tid_start</td>
                    <td>@item.dato_tid_slut</td>
                </tr>
                    
                }
            }
        </tbody>
    </table>
}

@code {
    private VagterDTO[] vagter;

    private FrivilligeDTO frivillig = new();

    protected override async Task OnInitializedAsync()
    {
        // Få frivillig_id fra browseren og tildel værdi
        frivillig.frivillig_id = await localStorage.GetItemAsync<int>("id");
        // Hent vagter
        vagter = await Http.GetFromJsonAsync<VagterDTO[]>("api/Vagt");
    }

    private async Task TagVagt(int id)
    {
        // Tilføj frivillig_id til den valgte vagt
        await Http.PutAsJsonAsync<FrivilligeDTO>($"api/TagVagt/{id}", frivillig);
        vagter = await Http.GetFromJsonAsync<VagterDTO[]>("api/Vagt");
    }
}
